.station {
  width: 40%;
  height: 60%;
  background-color: #d3d7d4;
  opacity: 0.8;
  z-index: 9999;
  position: absolute;
  left: 10%;
  top: 20%;
  border-radius: 5%;
}

.station--hidden {
  display: none;
}

.station--other {
  /* background-color: antiquewhite; */
}

/* //////////////////////////////////////////////////// */
/* station of city for buyers */
/* //////////////////////////////////////////////////// */
.station--city--buyers {
  /* background-color: red; */
  display: flex;
}

.station--buyers--column--1 {
  flex-grow: 1;
  background-color: antiquewhite;
  height: 100%;
}

.station--buyers--column--2 {
  flex-grow: 1;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
}
.station--buyers--column--2--row--1 {
  flex-grow: 3;
  background-color: blueviolet;
}
.station--buyers--column--2--row--2 {
  flex-grow: 1;
  background-color: blue;
  text-align: center;
}

.station--buyers--column--2--row--2 p {
  display: inline-block;
}

.station--buyers--column--2--row--3 {
  flex-grow: 1;
  display: flex;
}

.station--buyers--button {
  display: inline-block;
  width: 20%;
  height: 40%;
  margin: auto;
  text-align: center;
  font-weight: 500;
}

/* //////////////////////////////////////////////////// */
/* station of city for customers */
/* //////////////////////////////////////////////////// */
.station--customer--button--ok {
  width: 10%;
  position: absolute;
  right: 10%;
  bottom: 10%;
}
