.station {
  width: 40%;
  height: 60%;
  background-color: #d3d7d4;
  opacity: 0.8;
  z-index: 9999;
  position: absolute;
  left: 10%;
  top: 20%;
  border-radius: 5%;
}

.station--hidden {
  display: none;
}

.station--other {
  background-color: antiquewhite;
}

.station--city--buyers {
  background-color: red;
}
