/* .player--board {
  border: 2px solid white;
} */

.player--board--item {
  background-color: #fff;
  /* background-color: blue; */
  flex-basis: 50%;
  flex-shrink: 1;
  display: inline-flex;
  height: 50%;
  /* border: 5px #333 solid; */
  opacity: 0.8;
}

.player--board--item--column--1 {
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
}

.player--board--item--column--2 {
  flex-basis: 50%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-shrink: 1;
}

.player--board--item--column--2 button {
  width: 5em;
}

.current--player {
  border: solid red 5px;
  opacity: 1;
}
.player--name {
  font-weight: 800;
  font-size: larger;
}
